/***********************/
/*   General Styling   */
/***********************/
body {
	font-family: 'Jura', sans-serif;
  color: white;
  background: -webkit-repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  text-align: center;
}

h1{
	font-size: 4em;
}

/********************/
/*   Card Styling   */
/********************/

.cards{
	list-style: none;
}
.card{
	width: 8%;
	height: 26%;
	border-radius: 5px;
	background-color: orange;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0 13px;
	font-size: 4em;
	line-height: 190px;
	border: 6px solid black;
}
.card-active{
	border: 6px solid yellow;
}

/**********************/
/*   Button Styling   */
/**********************/
.btn{
	margin-top: 5%;
  font-size: 1.5em;
  background-color: transparent;
  border: solid #FFFFFF;
  border-radius: 0;
  color: #FFFFFF;
}
.btn:hover{
	background-color: rgba(255, 165, 0, 0.34);
  color: #FFA500;
  border: solid #FFF;
}